@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


/* Mobile screens */
.image
{
    width: 100%;
}


.image img {
  width: 100%;
  max-width: 350px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


html
{
    box-sizing: border-box;
    font-size: 20px;
}

*{
    box-sizing: inherit;
}
body
{
    background-color: #abb8c3;
    margin: 0;
    padding: 0;
}
html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-emphasis: none;
    color: rgb(0, 0, 0);
}
header
{
  
  height: 100%;
  position: relative;
  
  
}
.nav
{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    margin: 0 auto;
}

.menu
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
}

.hamburger
{
    display: flex;
    align-items: center;
}

.hamburger_icon
{
    margin-left: 0.6rem;
}

.hamburger_menu
{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5rem;
}

.lang
{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1rem;
    

}

.upper_paragraph
{
    margin-top: 3rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    
}

.gourmet
{
    font-family: 'Noto Serif JP', serif;
    text-transform: uppercase;
    font-size: 5.3rem;
}

.based
{
    margin-top: -2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;

}

.ukraine
{
    margin-top: -2rem;
    font-family: 'Noto Serif JP', serif;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.title_paragraph
{
    font-size: 1.1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.middle_paragraph
{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.bottom_paragraph
{
    text-align: center;
    margin-bottom: 5rem;
}

.arrow
{
    display: flex;
    justify-content: center;
    
    
}

.discover
{
    margin-top: 0.6rem;
    text-align: center;
    padding-bottom: 5rem;
}

footer
{
padding: 20px 0;
}


.bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Roboto Slab', serif;
    text-transform: lowercase;
    
}

.bottom_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom_links a{
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
}

.bottom_links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.bottom_links a:hover::before {
    width: 100%;
    transition-delay: 0.3s;
}


.bottom_arrow
{
    
    display: block;
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
    
}


.bottom_arrow a img:hover {
    animation: jump 0.3s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.bottom p
{
    margin: 0;
    text-align: center;
}

.bottom_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


/* INDEX2 PAGE */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');

.chef_name
{
    margin-top: 1.5rem;
    font-family: 'Cormorant Infant', serif;
    font-size: 2rem;
}

.cursive_name
{
    font-family: 'Dancing Script', cursive;  
    margin-right: 0.5rem;
    font-size: 2.5rem;
}

.cols
{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-right: 18rem;
    padding-left: 18rem;
    margin-bottom: 5rem;
    font-family: 'Noto Serif JP', serif;
    
}

.first_col
{
    margin-bottom: 1rem;
    max-width: 50%;
    margin-right: 0.5rem;
}
.second_col
{
    margin-top: 0;
    margin-left: 0.5rem;
    max-width: 50%;
}

p{
    margin-top: 0;
}

.strong
{
    margin-bottom: 1rem;
}

.banner
{
    background-color: #b95e15;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
      
    
}

.banner_text1
{
    text-align: center;
}

.banner_text2
{
    font-size: 2.5rem;
}

.big_banner
{
    text-align: center;
}


