@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

@media all and (max-width: 600px) {
    .navigation
    {
        display: none;
    }
    .upper_paragraph .gourmet
    {
        font-size: 2.5rem
    }
    .upper_paragraph .title_paragraph
    {
        font-size: 0.9rem;
    }
    .upper_paragraph .based
    {
        font-size: 3rem
    }
    .upper_paragraph .ukraine
    {
        font-size: 3rem
    }
    .bottom .bottom_arrow
    {
        display: none;
    }
    .bottom
    {
        font-size: 0.7rem;
    }
   .middle_paragraph .t1 
   {
    font-size: 0.7rem;
   }
   .arrow{
    margin-top: -3rem;
   }
   .bottom .bottom_text
   {
    margin-top: -5rem;
    font-size: 0.7rem;
   }
   .bottom_paragraph
   {
    font-size: 0.9rem;
    margin-top: -2rem;
   }
   .discover
   {
    font-size: 0.9rem;
   }
   .arrow img
   {
        width: 5rem;
        height: 5rem;
   }
   /*second page*/
   .left-wing
   {
    display: none;
   }
   body .cols
   {
    padding-left:1rem;
    padding-right: 1rem;
    margin: 0;
    display: block;
   }
   .cols .first_col
   {
   max-width: 100%;
   }

   .cols .second_col
   {
   max-width: 100%;
   }
   .banner
   {
    margin-top: 2rem;
   }
   .big_banner .banner_text2
   {
    font-size: 1.7rem;
   }
   .arrow
   {
    margin-top: 2rem;
   }
   .gallery_block .right-wing
   {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   }

   .white
   {
    margin-bottom: 2rem;
   }
}


.logo
{
    position: fixed;
    padding-top: 1rem;
    padding-left: 1rem;
}
.image img {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  max-width: 380px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


html
{
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

*{
    box-sizing: inherit;
}
body
{
    background-color: #abb8c3;
    margin: 0;
    padding: 0;
}
html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-emphasis: none;
    color: rgb(0, 0, 0);
}
header
{
  
  height: 100%;
  position: relative;
  
  
}


a,button{
    cursor: pointer;
}

nav{
    font-family: 'Schibsted Grotesk', sans-serif;
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.navigation{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: #b95e15;
    transition: .5s;
}


.navigation ul li{
    color: #000000;
    text-align: le;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 2em;
    padding: 20px 10px;
    border-bottom: 1pt solid #252525;
}



.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    top: 9.6%;
    left: 94%;
    width: 60px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 1px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.navigation.active {
    right: auto;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
}

.hamburger.open #bar1{
    background-color: #000000;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #000000;
    transform: rotate(-45deg) translate(6px, -5px);
}
.no-scroll {
    overflow: hidden;
}

/* Added styles */
.navigation img {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: opacity .5s ease-in-out;
}

.hamburger:not(.open) ~ .navigation img {
  opacity: 0;
}



.upper_paragraph
{
    margin-top: 3rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    
}

.gourmet
{
    font-family: 'Noto Serif JP', serif;
    text-transform: uppercase;
    font-size: 5.3rem;
}

.based
{
    margin-top: -2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;

}

.ukraine
{
    margin-top: -2rem;
    font-family: 'Noto Serif JP', serif;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.title_paragraph
{
    font-size: 1.1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.middle_paragraph
{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.bottom_paragraph
{
    text-align: center;
    margin-bottom: 5rem;
}

.arrow
{
    display: flex;
    justify-content: center;
    
    
}

.discover
{
    margin-top: 0.6rem;
    text-align: center;
    padding-bottom: 5rem;
}

footer
{
padding: 20px 0;
}


.bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Roboto Slab', serif;
    text-transform: lowercase;
    
}

.bottom_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom_links a{
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
}

.bottom_links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.bottom_links a:hover::before {
    width: 100%;
    transition-delay: 0.3s;
}


.bottom_arrow
{
    
    display: block;
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
    
}


.bottom_arrow a img:hover {
    animation: jump 0.3s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.bottom p
{
    margin: 0;
    text-align: center;
}

.bottom_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


/* INDEX2 PAGE */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.chef_name
{
    margin-top: 1.5rem;
    font-family: 'Cormorant Infant', serif;
    font-size: 2rem;
}

.cursive_name
{
    font-family: 'Dancing Script', cursive;  
    margin-right: 0.5rem;
    font-size: 2.5rem;
}

.cols
{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-right: 18rem;
    padding-left: 18rem;
    margin-bottom: 5rem;
    font-family: 'Noto Serif JP', serif;
    
}

.first_col
{
    margin-bottom: 1rem;
    max-width: 50%;
    margin-right: 0.5rem;
}
.second_col
{
    margin-top: 0;
    margin-left: 0.5rem;
    max-width: 50%;
}

p{
    margin-top: 0;
}

.strong
{
    margin-bottom: 1rem;
}

.banner
{
    background-color: #b95e15;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
      
    
}

.banner_text1
{
    text-align: center;
}

.banner_text2
{
    font-size: 2.5rem;
}

.big_banner
{
    text-align: center;
}

.gallery_block {
    display: flex;
}

.left-wing {
    width: 50%;
}

.left-wing img {
    width: 100%;
    height: 100%;
}

.right-wing {
    position: relative;
    width: 50%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
}
  
.white {
    position: relative;
    background-color: white;
    height: 30rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 3rem;
}

.white p {
    margin: 0;
    padding: 0;
}

.white_photo {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.white_photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galerry_recipy {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
}

.galerry_recipy p {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


/*Third page*/

.page_3
{
    background: url('bg-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.title_3 {
    font-size: 5rem;
    color: white;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-align: center;
}
  
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_title_3
{
    font-size: 2.5rem;
    margin-top: 1rem;
}

.bar_w{
    top: 3px;
    background: #ffffff;
    width: 100%;
    height: 1px;
    transition: all .3s ease-in;
}

.hamburger, .bar_w{
    position: fixed;
}

.block1
{
    display: flex;
    flex-direction: row;/*поменять на column в мобилке*/
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.gallery-container
{
    padding-left: 15%;
    padding-right: 15%;
}

.shpundrya
{
    width: 40%;
    height: 35rem;
    background-color: #b95e15;
}

.shpundrya img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.heck
{
    width: 100%;
    height: 15rem;
    margin-bottom: 6rem;
}

.heck img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bograch
{
    width: 100%;
    height: 15rem;
    
}

.bograch img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vareniki
{
    width: 45%;
    height: 15rem;
    
}

.vareniki img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.draniki
{
    margin-top: 1rem;
    width: 50%;
    height: 14rem;
}
.draniki img
{
   width: 100%;
    height: 100%;
    object-fit: cover;
}

.block2
{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.block3
{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.kutya
{
    
    width: 50%;
    height: 30rem;
}

.kutya img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cabbage
{
    
    margin-top: 1rem;
    width: 45%;
    height: 27rem;
}

.cabbage img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block4
{
    margin-bottom: 3rem;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.sirniki
{
    
    width: 50%;
    height: 40rem;
}

.sirniki img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.potato
{
    
    margin-top: 1rem;
    width: 45%;
    height: 20rem;
}

.potato img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom_w
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Roboto Slab', serif;
    text-transform: lowercase;
    
}

.bottom_links_w {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom_links_w a{
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
}

.bottom_links_w a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: -3px;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.bottom_links_w a:hover::before {
    width: 100%;
    transition-delay: 0.3s;
}


.bottom_arrow_w
{
    
    display: block;
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
    
}


.bottom_arrow_w a img:hover {
    animation: jump 0.3s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.bottom_w p
{
    color: white;
    margin: 0;
    text-align: center;
}

.bottom_text_w{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

