@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

/* Mobile screens */
.image img {
  width: 100%;
  max-width: 360px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media all and (max-width: 768px) {
    /* Tablets and small desktop screens */
    .image img {
      max-width: 300px;
    }
  }

  @media all and (max-width: 992px) {
    /* Large desktop screens */
    .image img {
      max-width: 300px;
    }
  }

  @media all and (max-width: 1200px) {
    /* Extra large desktop screens */
    .image img {
      max-width: 360px;
    }
  }

html
{
    box-sizing: border-box;
    font-size: 20px;
}

*{
    box-sizing: inherit;
}
body
{
    background-color: #abb8c3;
    margin: 0;
    padding: 0;
}
html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-emphasis: none;
    color: rgb(0, 0, 0);
}
header
{
  position: relative;
  height: 100%;
  
  
}
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    margin: 0 auto;
}

.menu
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
}

.hamburger
{
    display: flex;
    align-items: center;
}

.hamburger_icon
{
    margin-left: 0.6rem;
}

.hamburger_menu
{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5rem;
}

.lang
{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1rem;
    

}

.upper_paragraph
{
    margin-top: 3rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    
}

.gourmet
{
    font-family: 'Noto Serif JP', serif;
    text-transform: uppercase;
    font-size: 5.3rem;
}

.based
{
    margin-top: -2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;

}

.ukraine
{
    margin-top: -2rem;
    font-family: 'Noto Serif JP', serif;
    font-size: 5rem;
    padding-bottom: 2rem;
}

.title_paragraph
{
    font-size: 1.1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.middle_paragraph
{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.bottom_paragraph
{
    text-align: center;
    margin-bottom: 5rem;
}

.arrow
{
    display: flex;
    justify-content: center;
    
    
}

.discover
{
    margin-top: 0.6rem;
    text-align: center;
    padding-bottom: 5rem;
}

footer
{
padding: 20px 0;
}


.bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Roboto Slab', serif;
    text-transform: lowercase;
    
}

.bottom_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom_links a{
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
}

.bottom_links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.bottom_links a:hover::before {
    width: 100%;
    transition-delay: 0.3s;
}


.bottom_arrow
{
    
    display: block;
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
    
}


.bottom_arrow a img:hover {
    animation: jump 0.3s ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.bottom p
{
    margin: 0;
    text-align: center;
}

.bottom_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@media all and (max-width: 768px) {
    
    
    .hamburger
    {
        display: none;
    }
    .bottom_arrow
    {
     display: none;
    } 
    .bottom_text{
     padding-left: 10%;
     font-size: 0.6rem;
    }
    
    
  }
  
  
  @media all and (max-width: 992px) {
   .bottom{
    margin: 0;
    padding: 0;
    font-size: 3rem;
   }
   .bottom_text
   {
    font-size: 112rem;
    padding: 0;
    margin: 0;
    margin-right: 4%;
    
   }
    .upper_paragraph .gourmet
    {
        font-size: 4rem;
    }

    .hamburger
    {
        display: none;
    }
   .bottom_arrow
   {
    display: none;
   } 
   .bottom_text{
    padding-left: 10%;
    font-size: 0.9rem;
   }
   
   
  }
  
  @media all and (max-width: 1200px) {
    
  }